---
styles: './login.scss'
btn-text: 'Sign in'
btn-type: 'submit'
form:
-
    placeholder: 'Email'
    type: 'text'
    name: 'login'
-
    placeholder: 'Password'
    type: 'password'
    name: 'password'
---

{{#extend "main"}}
    {{#content "main"}}
        <div class="login">
            <div class="container container--auth">
                <div class="login-form">
                    <h1 class="login-form__title">Sign in</h1>

                    <form class="login-form__items">
                        <div class="login-form__items-wrapper">
                            {{#each form}}
                                {{> input this }}
                            {{/each}}
                        </div>


                        {{> button }}
                    </form>

                    <div class="login-form__items-text">
                        Not registered? You can <a href="../registration/registration.hbs" class="link">sign up</a>
                    </div>
                </div
            </div>
        </div>
    {{/content}}
{{/extend}}
