---
id: "root"
---
<html>
<head>
    <script src="src/index.js" type="module"></script>
    <link href="src/styles/main.scss" rel="stylesheet" />
</head>
<body>
<div id="{{ id }}"></div>
<a href="/src/pages/login/login.hbs">Login</a>
<a href="/src/pages/registration/registration.hbs">Registration</a>
<a href="/src/pages/chats/chats.hbs">Chats</a>
</body>
</html>