---
styles: './edit-profile.scss'
form:
    -
        type: 'text'
        placeholder: 'Email'
        modifier: 'form-control--with-label'
        label: 'Email'
        name: 'email'
    -
        type: 'text'
        placeholder: 'Login'
        modifier: 'form-control--with-label'
        label: 'Login'
        name: 'login'
    -
        type: 'text'
        placeholder: 'Firstname'
        modifier: 'form-control--with-label'
        label: 'Firstname'
        name: 'first_name'
    -
        type: 'text'
        placeholder: 'Lastname'
        modifier: 'form-control--with-label'
        label: 'Lastname'
        name: 'second_name'
    -
        type: 'text'
        placeholder: 'Nickname'
        modifier: 'form-control--with-label'
        label: 'Nickname'
        name: 'display_name'
    -
        type: 'text'
        placeholder: 'Phone'
        modifier: 'form-control--with-label'
        label: 'Phone'
        name: 'phone'
btn-text: 'Save'
btn-class: 'edit-profile__btn'
---

{{#extend "main"}}
    {{#content "main"}}
        <div class="edit-profile">
            <div class="container container--auth">
                <div class="edit-profile-inner">
                   <form class="edit-profile__form">
                       {{#each form}}
                           {{> input this }}
                       {{/each}}

                       {{> button  }}
                   </form>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
