@import "./../constants";

.form-control {
  display: flex;flex-direction: column;
  margin-bottom: 15px;

  input[type="text"],
  input[type="password"],
  input[type="tel"] {
    border: none;
    box-shadow: $input-box-shadow;
    border-radius: 8px;
    padding: 17px 30px;
    font-size: 20px;
    height: 62px;
    outline: none;
    box-sizing: border-box;
  }

  label {
    color: #1e1e1e;
    margin-bottom: 5px;
    font-weight: 600;
  }

  input::placeholder {
    color: $placeholder-color;
  }

  &--with-label {
    margin-bottom: 20px;

    input[type="text"],
    input[type="password"],
    input[type="tel"] {
      height: 40px;
      font-size: 14px;
    }

    input::placeholder {
      font-size: 14px;
    }
  }
}
