$white: #FFFFFF;
$green: #62D767;
$background-color: #F5F5F5;
$chat-avatar-color: #D9D9D9;
$border-color: #C3C3C3;
$my-message-color: #E5FCF8;
$companion-message-color: #F8F8F8;
$placeholder-color: #9CA3AF;
$link-color: #3369F3;
$error-color: #FF0000;

$block-border-radius: 14px;
$block-box-shadow: 0.4px 0.4px 30px rgba(0, 0, 0, 0.1);
$input-border-radius: 10px;
$input-border-radius-sm: 8px;
$input-box-shadow: 0.1px 0.1px 20px rgba(0, 0, 0, 0.2);