---
styles: './registration.scss'
btn-text: 'Sign up'
btn-type: 'submit'
form:
-
    placeholder: 'Firstname'
    type: 'text'
-
    placeholder: 'Lastname'
    type: 'text'
-
    placeholder: 'Login'
    type: 'text'
-
    placeholder: 'Email'
    type: 'text'
-
    placeholder: 'Password'
    type: 'text'
---

{{#extend "main"}}
    {{#content "main"}}
        <div class="registration">
            <div class="container container--auth">
                <div class="registration-form">
                    <h1 class="registration-form__title">Sign up</h1>

                    <form class="registration-form__items">
                        <div class="registration-form__items-wrapper">
                            {{#each form}}
                                {{> input this}}
                            {{/each}}
                        </div>

                        {{> button }}
                    </form>

                    <div class="registration-form__items-text">
                        You have an account? You can <a href="../login/login.hbs" class="link">sign in</a>
                    </div>
                </div
            </div>
        </div>
    {{/content}}
{{/extend}}
