@import "src/styles/main";

.registration {
  &-form {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 370px;

    &__title {
      font-size: 32px;
      margin-bottom: 58px;
    }

    &__items {
      display: flex;
      flex-direction: column;
      margin-bottom: 47px;

      &-wrapper {
        margin-bottom: 50px;
      }

      .btn {
        height: 62px;
        width: 190px;
      }
    }
  }
}