@import "src/styles/main";

.chats {
  padding: 100px 0;

  &-wrapper {
    display: flex;
    height: 80vh;
  }

  &-block {
    background: white;
    box-shadow: 0.4px 0.4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  &__sidebar {
    flex: 0 0 360px;
    height: 100%;
    margin-right: 30px;

    &-contacts {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  &__main {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-head {
      display: flex;
      align-items: center;
      height: 80px;
      box-sizing: border-box;
      border-bottom: 1px solid $border-color;
      padding: 0 14px;


      &_image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: $chat-avatar-color;
        margin-right: 20px;
      }

      &_name {
        font-weight: 600;
      }
    }

    &-chat {
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;
    }

    &-textarea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 140px;
      border-top: 1px solid $border-color;
      padding: 0 30px;

      .form-textarea{
        width: 100%;
        margin-right: 30px;
      }
    }

    &-btn {
      width: 120px;
      height: 50px;
    }
  }

  &-search {
    height: 80px;
    border-bottom: 1px solid $border-color;
  }
}