<div class="contact">
    <div class="contact__image">

    </div>

    <div class="contact__text">
        {{ this.name }}
    </div>
    {{#if this.show-unread}}
        <span class="contact__unread"></span>
    {{/if}}
</div>