<div class="form-control {{#if this.controlModifier}}{{this.controlModifier}}{{/if}}">
    <input
            type={{ this.controlType }}
            placeholder="{{this.controlPlaceholder}}"
    >
</div>