<div class="form-control {{#if this.modifier}}{{this.modifier}}{{/if}}">
    <label>{{#if this.label}}{{this.label}}{{/if}}</label>
    <input
            type={{this.type}}
            placeholder="{{this.placeholder}}"
    >
</div>