<div class="list-item">
    <div class="list-item__image">

    </div>

    <div class="list-item__text">
        {{ this.name }}
    </div>
    {{#if this.show-unread}}
        <span class="list-item__unread"></span>
    {{/if}}
</div>