<li class="message {{#if this.my}}message--my{{/if}}">
    <div class="message-inner">
        <div class="message__text">
            {{this.text}}
        </div>

        <div class="message__time">
            {{this.time}}
        </div>
    </div>
</li>