---
styles: './page5.scss'
---

{{#extend "main"}}
    {{#content "main"}}
        <div class="page500">
            <div class="container container--auth">
                <div class="page500-wrapper">
                    <div class="page500__text page500__text--huge">500</div>

                    <div class="page500__text">Мы уже фиксим</div>

                    <a href="" class="page500__link">Назад к чатам</a>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}