---
styles: './edit-password.scss'
form:
    -
        type: 'password'
        placeholder: 'Old password'
        modifier: 'form-control--label'
        label: 'Old password'
    -
        type: 'password'
        placeholder: 'New password'
        modifier: 'form-control--label'
        label: 'New password'
    -
        type: 'password'
        placeholder: 'New password again'
        modifier: 'form-control--label'
        label: 'New password again'

btn-text: 'Save'
btn-class: 'edit-password__btn'
---

{{#extend "main"}}
    {{#content "main"}}
        <div class="edit-password">
            <div class="container container--auth">
                <div class="edit-password-inner">
                    <form class="edit-profile__form">
                        {{#each form}}
                            {{> input this }}
                        {{/each}}

                        {{> button  }}
                    </form>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}